<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>Demo JPA Usage</title>
</head>
<body>
<H1>List all customers</H1>
<div>
    <form th:action="@{/customers/create}" th:object="${customerForm}" method="post">
        <dl>
            <dt><label for="lastName">Last Name</label></dt>
            <dd>
                <input type="text" id="lastName" name="lastName" th:field="*{lastName}" th:errorclass="error-input"
                       value="default last name"/>
                <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                      class="error-messages">ERROR!</span>
            </dd>
            <dt><label for="firstName">First Name</label></dt>
            <dd>
                <input type="text" id="firstName" name="firstName" th:field="*{firstName}" th:errorclass="error-input"
                       value="default first name"/>
                <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                      class="error-messages">ERROR!</span>
            </dd>
            <dt><label for="age">Age</label></dt>
            <dd>
                <input type="number" id="age" name="age" th:field="*{age}" value="18"/>
            </dd>
        </dl>

        <input type="submit" value="add" class="mdl-button mdl-js-button mdl-button--raised"/>
    </form>

</div>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <tr>
        <th class="mdl-data-table__cell--non-numeric">ID</th>
        <th class="mdl-data-table__cell--non-numeric">Last Name</th>
        <th class="mdl-data-table__cell--non-numeric">First Name</th>
        <th class="mdl-data-table__cell--non-numeric">Age</th>
        <th class="mdl-data-table__cell--non-numeric">Delete</th>
    </tr>
    <tr th:each="customer:${customers}">
        <td th:text="${customer.id}" class="mdl-data-table__cell--non-numeric">default ID</td>
        <td th:text="${customer.lastName}" class="mdl-data-table__cell--non-numeric">Last Name</td>
        <td th:text="${customer.firstName}" class="mdl-data-table__cell--non-numeric">First Name</td>
        <td th:text="${customer.age}" class="mdl-data-table__cell--non-numeric">Age</td>
        <td>
            <form th:action="@{/customers/delete}" method="post">
                <input class="mdl-button mdl-js-button mdl-button--raised" type="submit" value="delete"/>
                <input class="mdl-button mdl-js-button mdl-button--raised" type="hidden" name="id"
                       th:value="${customer.id}"/>
            </form>
        </td>
    </tr>
</table>
</body>
</html>