<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <title>Spring Boot JPA Demo</title>
</head>
<body>
<H1>Hello JPA Examples</H1>
<H2>Hello JPA Examples</H2>
<H3>Hello JPA Examples</H3>
<H4>Hello JPA Examples</H4>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Hello world</td>
        <td>500</td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Welcome</td>
        <td>300</td>
    </tr>
</table>
</body>
</html>